html {
    background-color: aliceblue;
}

.login_card {
    background-color: white;
    padding: 1rem;
    margin: 20px;
    border-radius: 8px;
    position: relative;
}

.btn_container {
    display: flex;
    align-items: center;
}

.loginContainer {
    position: static;
    align-items: center;
    justify-content: center;
    margin: 20vw;
    padding: 4vh;
    border-color: antiquewhite;
}

.layout_grid {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: none;
}

.form_group {
    margin: 5% 20% 5% 20%;
}

