.login_card {
    background-color: red;
    padding: 1rem;
    margin: 1px;
    /* height: 100%; */
    border-radius: 8px;
    position: static;
}

.btn_container {
    display: flex;
    align-items: center;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_group {
    margin: 5% 20% 5% 20%;
}

.logo {
    width: 200px; 
    object-fit: cover; 
    object-position: 100% 0;
    background-color: #004C9B;
}


.btn-primary {
    color: #fff;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
}

.reset {
    color: black;
}

