
.btn-primary {
    color: #fff;
    background-color: #004C9B !important;
    border-color: #004C9BFE !important;
    border-radius: 10px;
}

.reset {
    color: black;
}



.gap {
    height: 40px;
}



Col {
    margin: 20px;
    padding: 10px;
}

#formarea {
    background-color: rgb(227, 227, 227);
}

.logo {
    width: 200px; 
    object-fit: cover; 
    object-position: 100% 0;
    background-color: #004C9B;
}

.loginButton {
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.site-layout {
    margin: 40pt 0pt 0pt 0pt;
    height: 100vh;
}

.content {
    margin: 10pt;
    padding: 20pt;
}

/* .ant-menu.ant-menu-inline li.ant-menu-item:last-child{
    position: absolute;
    bottom: 80px;
    left: 0;
  } */
  
.ant-menu.ant-menu-sub.ant-menu-inline {
    background-color: #004C9B !important;
}

.textInput {
    border-radius: 0px;
    height: 32px;
    margin: 15px;
}

.createButtonArea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createButton {
    background-color: #004C9B;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    border-color: #004C9B;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}