
.btn-primary {
    color: #fff;
    background-color: #004C9B !important;
    border-color: #004C9BFE !important;
}

.reset {
    color: black;
}



.gap {
    height: 40px;
}



Col {
    margin: 20px;
    padding: 10px;
}

#formarea {
    background-color: rgb(227, 227, 227);
}

.site-layout {
    margin: 40pt 0pt 0pt 0pt;
    height: 100vh;
}

.content {
    margin: 10pt;
    padding: 20pt;
}

